<html>
<head>
<title>Sidelens</title>
<link rel='stylesheet' href='/home.css'/>
</head>
<body>
<div id='menu'>
<%= get_menu.html_safe %>
</div>
<div id = 'container-panel'>
<br/><br/>
<div id = 'content-panel'>
<span class = 'panel-header'>MyLife License</span><br/>
<ul>
<li><b>12</b> total registered interfaces.</li>
<li><b>4</b> total behavior profiles created.</b></li>
<li><b>400</b> total behaviors blacklisted.</li>
<li><b>40,000</b> total requests processed this month.</li>
</ul>
</div>
</div>
<div id = 'downer'>&copy; TreasureHunt Group Inc.</div>
</body>
</html>
