<html>
<head>
<title>Sidelens</title>
<link rel='stylesheet' href='/home.css'/>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="/js/logout.js"></script>
<script>
$(document).ready(function(){
  
  $.ajax({
    url:"/enterprise/interfaces/"+window.location.pathname.split("/")[2], 
    headers:{"Auth":Cookies.get("Auth")}, 
    type:"GET", 
    success: function(resp){
      console.log(resp);
    }
  });
});
</script>
</head>
<body>
<div id='menu'>
<%= get_menu.html_safe %>
</div>
<div id = 'container-panel'>
<br/><br/>
<div id = 'content-panel'>
<b>Overview</b>
<ul>
<li>12 total registered interfaces</li>
<li>4 total behavior profiles created</b></li>
<li>400 total behaviors blacklisted</li>
<li>40,000 total requests processed this month</li>
</ul>
</div>
</div>
<div id = 'downer' class = 'version-comp'>v1.0</div>
<div id = 'downer'>&copy; TreasureHunt Group Inc.</div>
</body>
</html>
