<html>
<head>
<title>Sidelens</title>
<link rel='stylesheet' href='/home.css'/>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
$(document).ready(function(){
  id = 0;
  $.ajax({
    url:"/enterprise/interfaces/"+window.location.pathname.split("/")[3], 
    headers:{"Auth":Cookies.get("Auth")}, 
    type:"GET", 
    success: function(resp){
      $(".interface_name").html("<b>Interfaces</b> > <b>"+resp["name"]+"</b>"); 
    }
  });
});
</script>
</head>
<body>
<div id='menu'>
<%= get_menu.html_safe %>
</div>
<div id = 'container-panel'>
<br/><br/>
<div id = 'content-panel'>
<span class = 'interface_name'>Overview</span><br/>
<div class = 'graph_hits'></div>
<div class = 'lower_body'>
<div class = 'interface_info'>

</div> 
<div class = 'behaviors'>
efe
</div>
<div class = 'behavior_info'>

</div>
</div>
</div>
</div>
<div id = 'downer' class = 'version-comp'>v1.0</div>
<div id = 'downer'>&copy; TreasureHunt Group Inc.</div>
</body>
</html>
