
body {
background-color:#0457BE;
margin:0px;
padding:0px;
font-family:Verdana;
}
#container {
 padding:0px;
 width:100%;
 text-align:center;
 font-size:20px;
 color:white;
}

.panel-header {
 color:gray;
}
#container-panel {
 box-sizing:content-box;
 padding:20px;
 text-align:left;
 font-size:20px;
 color:white;
}


#content-panel {
  background-color:white;
  border-radius:4px;
  color:black;
  padding:20px;
  min-height:100px;
  box-shadow: 0px 3px 3px black;
}

#product-container input[type=text], #product-container input[type=password] {
  font-size:20px;
}

#container_product {
  margin-left:50px;
  text-align:left;
  width:800px;
}

#content_product {
  background-color:white;
  border-radius:4px;
  color:black;
  padding:10px;
  box-shadow: 0px 3px 3px black;
}

#content_product input[type=text], #content_product input[type=password] {
  font-size:20px;
  width:100%;
  border-radius:3px;
  border: 1px solid black;
}

#content_product textarea {
  font-size:20px;
  width:100%;
  border-radius:3px;
  border: 1px solid black;
}
#platform_content {
 padding-top:10px;
 text-align:center;
 font-size:20px;
 background-color:#FFFFFF;
 color:black;
}

#menu {
  position:fixed;
  padding:10px;
  margin:0px;
  width:100%;
  height:35px;
  background-color:white;
  box-shadow: 0px 0px 8px 2px black;
}

#box {
 background-color:none;
 border:none;
 width:300px;
 border-radius:4px;
 height:300px;
 padding:10px;
 display:inline-block;
 vertical-align:top;
 text-align:center;
}



#content-box {
 margin-top:10px;
 background-color:white;
 border: .5px solid black;
 width:300px;
 border-radius:4px;
 height:140px;
 padding:10px;
 color:black;
 font-size:18px;
 text-align:left;
 box-shadow: 0px 3px 3px black;
}

#downer {
 margin-top:20px;
 margin-bottom:10px;
 width:100%;
 height:15px;
 color:white;
 text-align:center;
 font-size:12px;
}
.bannerlogo {
  width:100px;
  height:100px;
}


#buy-label {
 width:150px;
 padding:5px;
 height:30px;
 color:white;
 font-size:20px;
 background-color:#08ADF0;
 border-radius:4px;
 text-align:center;
 margin-left:auto;
 margin-right:auto;
 border: .5px solid black;
}

#buy-label a:link, #buy-label a:hover, #buy-label a:visited {
 color:white;
 text-decoration:none;
}

#buy-label:hover {
 width:150px;
 padding:5px;
 height:30px;
 color:white;
 font-size:20px;
 background-color:#05A5E6;
 border-radius:4px;
 text-align:center;
 margin-left:auto;
 margin-right:auto;
 border: .5px solid black;
}

#menu_links {
  float:right;
  margin-top:7px;
  padding-right:20px;
  color:#0049B4;
}


#menu_links a:link, #menu_links a:visited {
  color:#0049B4;
  text-decoration:none;
}

#menu_links a:hover {
  color:#003788;
  text-decoration:none;
}


#content-panel a:link, #content-panel a:visited, #panel-add-interface a:link, #panel-add-interface a:visited {
  color:#0049B4;
  text-decoration:none;
}

#content-panel a:hover, #panel-add-interface a:hover, #panel-add-interface a:hover {
  color:#003788;
  text-decoration:none;
}

#panel-add-interface {
  width:200px;
  min-height:100px;
  box-shadow: 0px 3px 3px black;
  background-color:white;
  border:1px solid black;
  color:black;
  position: fixed;
  padding:10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius:4px;
  z-index:1;
}

#panel-add-interface span {
  float:left;
}

#panel-add-interface input {
  float:right;
  width:200px;
}

#panel-add-interface textarea {
  width:100%;
}

.window_title {
  float:left; 
  text-align:center; 
  margin-left:40px;
}

.window_x {
  float:right;
}

.interface_block {
  width:100px;
  height:100px;
  font-size:15px;
  border:1px solid gray;
  text-align:center;
  padding:25px;
  margin:10px;
  display:inline-block;
  vertical-align:top;
  border-radius:5px;
}


.interface_block {
  width:100px;
  height:100px;
  font-size:15px;
  border:1px solid gray;
  text-align:center;
  padding:25px;
  margin:10px;
  position:relative;
  display:inline-block;
  vertical-align:top;
  border-radius:5px;
}


.interface_block:hover {
  width:100px;
  height:100px;
  font-size:15px;
  border:1px solid blue;
  text-align:center;
  padding:25px;
  margin:10px;
  display:inline-block;
  vertical-align:top;
  border-radius:5px;
}



.behavior_block {
  width:100px;
  height:100px;
  font-size:15px;
  border:1px solid gray;
  text-align:center;
  padding:25px;
  margin:10px;
  position:relative;
  display:inline-block;
  vertical-align:top;
  border-radius:5px;
}


.behavior_block:hover {
  width:100px;
  height:100px;
  font-size:15px;
  border:1px solid #FF7B7B;
  text-align:center;
  padding:25px;
  margin:10px;
  display:inline-block;
  vertical-align:top;
  border-radius:5px;
}

.interface_description {
  font-size:12px;
}

.interface_connected {
  font-size:12px;
  position:absolute;
  bottom:0px;
  left:30px;
  bottom:10px;
}

.interface_plus {
  margin:10%;
  margin-top:27%;
}

#content-interface {
 
}

.behavior_panel {
  display:inline-block;
  box-sizing:border-box;
  font-size:14px;
  height:400px;
}


.behavior_default_rules {
  float:left;
  width:150px;
  margin-right:5px;
  height:370px;
}


.behavior_applied_rules {
  float:left;
  width:150px;
  margin-right:5px;
  height:370px;
}


.behavior_parameters {
  float:left;
  width:400px;
  margin-right:5px;
  height:370px;
}


.behavior_info {
  float:left;
  width:200px;
  margin-right:5px;
  height:370px;
}

.b_content {
  height:100%;
  padding:5px;
  background-color:#E7E7E7;
}

.default_rule:link, .default_rule:visisted {
  color:black;
}

.default_rule:hover {
  color:black;
}
