<html>
<head>
<title>Sidelens</title>
<link rel='stylesheet' href='home.css'/>
</head>
<body>
<div id='menu'>
<%= get_menu.html_safe %>
</div>
<div id='container'>
<br/><br/><br/><br/>

<span style='font-size:50px'>The behavior-focused proxy</span><br/><br/>
<div style='width:900px; margin-left:auto; margin-right:auto;'>Go beyond the superficial when it comes to blocking unwanted traffic.</div><br/>
<div id= 'box'> 
<img src='img/flag.svg' class = 'bannerlogo'/>
<div id ='content-box'><b>Stop unwanted inbound</b><br/>
Define acceptable clients for multiple environments parametized
by time ranges, connection frequency, and status codes.
</div></div>
<div id ='box'>
<img src='img/mixer.svg' class = 'bannerlogo'/>
<div id = 'content-box'><b>Rated limited blocking</b><br/>
Throttle inbound for your internal and public RESTFul interfaces to prevent unneeded load
customized to your environment specifications. 
</div></div> 
<div id ='box'>
<img src='img/growth.svg' class = 'bannerlogo'>
<div id= 'content-box'>
<b>Client analysis</b><br/>
Keep track of your repeat offenders with timely reports of what was blocked and information on its reasoning exportable in many formats.</div></div>
<br/>
<div style='width:900px; margin-left:auto; margin-right:auto;'>Common applicable situations</div><br/>
<div id  = 'box'>
<img src='img/computing-cloud.svg' class = 'bannerlogo'/>
<div id = 'content-box'>
<b>Prevent data scraping</b><br/>
Know if your valuable information is being syphoned through time-tested methods that will uncover clients suspicious of the act.
</div></div>
<div id  = 'box'>
<img src = 'img/doorway.svg' class = 'bannerlogo'/>
<div id = 'content-box'>
<b>Prevent brute-force attacks</b><br/>
Put a stop to users constantly guessing the admin password or session to gain inappropriate privileges accompanied  bad motives. 
</div></div>
<div id  = 'box'>
<img src = 'img/game-controller.svg' class = 'bannerlogo'/>
<div id = 'content-box'>
<b>Prevent cheating</b><br/>
Look out for users finding a loophole within your high traffic game beforehand so you don't have to deal with them later. 
</div></div>
<div id='buy-label'>
<a href = 'pricing.htm'>Request Demo</a>
</div>
<div id = 'downer'>&copy; TreasureHunt Group Inc.</div>
</div>
</body>
</html>
