<html>
<head>
<title>Sidelens</title>
<link rel='stylesheet' href='home.css'/>
</head>
<body>
<div id='menu'>
<%= get_menu.html_safe %>
</div>
<div id = 'container'>
<br/><br/><br/><br/>
<div id='container_product'>
<span style='font-size:30px;'>What's being offered?</span><br/><br/>
<div style='font-size:18px;'>
Block abusive behavior before it happens.<br/><br/>
<div id ='content_product'>
There's more to a malicious user than hitting an endpoint x amount of times per t seconds.
 They may sport unwarranted behavior, come from an obscure geographic location,
 or have too perfectly spaced out calls to your infrastructure. Sidelens allows you to predefine a 
profile of the kind of inbound you'd rather avoid as a linear combination of different behaviors that 
can be saved as an easily distributable profile. 
</div><br/>
Seamless integration with most RESTful interfaces.<br/><br/>
<div id = 'content_product'>
Connecting to our service is a matter of installing from your favorite debian or RHEL based package manager and providing the right account keys to get started. We support common HTTP servers like nginx, apach2, WEBRick, and flask.
</div><br/>
Timely analytics.<br/><br/>
<div id = 'content_product'>
Get timely statistics on the amount of clients blocked from your APIs on top of detailed 
reports that break apart the load in terms of endpoints, geolocation, and commonly recognized traffic patterns that may be blocked later on.
</div>
</div>
</div>
<div id = 'downer'>&copy; TreasureHunt Group Inc.</div>
</body>
</html>
