<html>
<head>
<title>Sidelens</title>
<link rel='stylesheet' href='home.css'/>
</head>
<body>
<div id='menu'>
<a href = 'index.htm'><img src ='logo.png' width="107.44" height="30.77"/></a><span id='menu_links'><a href = 'login.htm'>login</a> <a href='product.htm'>product</a> <a href='pricing.htm'>pricing</a></span>
</div>
<div id = 'container'>
<br/><br/><br/><br/>
Login<br/><br/>
<div id = 'content_product' style='width:400px; margin-left:auto; margin-right:auto; text-align:left;'>
E-mail <br/><input type = 'text'/><br/>
Password <br/><input type = 'password'/><br/>
</div><br/><br/>
<div id ='buy-label'><a href = '#'>Login</a></div>
<div id = 'downer'>&copy; TreasureHunt Group Inc.</div>
</body>
</html>
